<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Job Ink</title>
    <!-- Tab Image -->
    <link rel="icon" href="../../assets/images/octopusicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Palanquin" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>
 
    {{{body}}}
 
</body>
</html>