  <nav class = "#1565c0 blue darken-3">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left">Job Ink</a>
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/saved">Saved Jobs</a></li>
      </ul>
    </div>
  </nav>
        

<header>

    <div class="row center">
    <!-- Empty div -->
	<div class="col s2">
       
    </div>

      <div class="col s8">
       <img class="logo" src="../../assets/images/inky.png">
      </div>

    <div class="col s2">
        <!-- Empty div -->
    </div>
    </div>
    
    <div class="row center">
    <h1 class="header center blue-text">Job Ink</h1>
    </div>

    </div>
 </header>





 
  <div class="row">
    <form id="formjobsearch" class="col s12">
      <div class="row">
      	<div class="col s3"></div>
        <div class="input-field col s6">
          <i class="material-icons prefix">input</i>
          <input type="text" class="validate" id="jobterm" required="">
          <label for="icon_prefix">Enter a Job Title or Keyword</label>
        </div>
        </div>
        <div class="row">
        <div class="col s3"></div>
        <div class="input-field col s6">
          <i class="material-icons prefix">my_location</i>
          <input type="text" class="validate" id="locationterm" required="">
          <label for="icon_prefix">Enter City, State or Zipcode</label>
        </div>
        </div>

        <!--submit button-->
    	<div class="row">
			<div class="col m12"></div>

			<p class="center-align">
				<button class="btn waves-effect waves-light search-new" type="submit" name="action">Search
				<i class="material-icons right">search</i>
				</button>
			</p>

		</div>

	    </form>


	  </div>



	  <div class="col s3"></div> 

	<div class="container job-container">

	</div>

	<div class="col s12 spacer"></div> 


        <footer class="page-footer #1565c0 blue darken-3">

          <div class="footer-copyright">
            <div class="container">
            <span id="indeed_at" class="black-text"><a title="Job Search" href="https://www.indeed.com">jobs by <img class="indeedimg" alt=Indeed src="https://www.indeed.com/p/jobsearch.gif" style="border: 0; vertical-align: middle;"></a></span>
	
            </div>
          </div>
        </footer>





<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.10.2/validator.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<script src="../../assets/javascript/index.js"></script>
