  <div class="navbar-fixed">
    <nav class = "#3f51b5 indigo">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Job Ink</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li class="active"><a href="/"><i class="material-icons">home</i></a></li>
          <li><a href="/saved">Saved Jobs</a></li>
          <li><a href="/logout"><i class="material-icons">power_settings_new</i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/"><i class="material-icons">home</i></a></li>
          <li><a href="/saved">Saved Jobs</a></li>
          <li><a href="/logout"><i class="material-icons">power_settings_new</i></a></li>
        </ul>

      </div>
    </nav>
  </div>
          

<header>

    <div class="row center">
    <!-- Empty div -->
	<div class="col s2">
       
    </div>

      <div class="col s8">
       <img class="logo" src="../../assets/images/inky.png">
      </div>

    <div class="col s2">
        <!-- Empty div -->
    </div>
    </div>
    
    <div class="row center">
    <h1 class="header center" id="jobinkheader">Job Ink</h1>
    </div>

    </div>
 </header>





 
  <div class="row">
    <form id="formjobsearch" class="col s12">
      <div class="row">
      	<div class="col s3"></div>
        <div class="input-field col s6">
          <i class="material-icons prefix">input</i>
          <input type="text" class="validate" id="jobterm" required="">
          <label for="icon_prefix">Enter a Job Title or Keyword</label>
        </div>
        </div>
        <div class="row">
        <div class="col s3"></div>
        <div class="input-field col s6">
          <i class="material-icons prefix">location_on</i>
          <input type="text" class="validate" id="locationterm" placeholder="" required="">
          <label for="icon_prefix">Enter City, State or Zipcode</label>
        </div>
        </div>

        <!--submit button-->
    	<div class="row">
			<div class="col m12"></div>

  			<p class="center-align">
  				<button class="btn waves-effect waves-light search-new #29b6f6 #29b6f6 light-blue lighten-1" type="submit" name="action">Search
  				<i class="material-icons right">search</i>
  				</button>
          <button class="btn waves-effect waves-light #29b6f6 red" name="action" id="clear-results">Clear
          <i class="material-icons right">delete_sweep</i>
          </button>
        </p>

      </div>

	   </form>

	  </div>



	  <div class="col s3"></div> 

	<div class="container job-container">

	</div>

	<div class="col s12 spacer"></div> 


        <footer class="page-footer #3f51b5 indigo">

          <div class="footer-copyright">
            <div class="container">
            <span id="indeed_at" class="black-text"><a title="Job Search" href="https://www.indeed.com">jobs by <img class="indeedimg" alt=Indeed src="https://www.indeed.com/p/jobsearch.gif" style="border: 0; vertical-align: middle;"></a></span>
	
            </div>
          </div>
        </footer>





<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.10.2/validator.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<script src="../../assets/javascript/index.js"></script>
