  <nav class = "#1565c0 blue darken-3">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo left">Job Ink</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/saved">Saved Jobs</a></li>
      </ul>
    </div>
  </nav>



    <div class="row center">
    <h3 class="header center blue-text">Your Saved Jobs</h3>
    </div>



<div class="container job-container">
<!--Job container-->
</div>

<!-- Note modal -->
<div id="noteModal" class="modal modal-fixed-footer">

    <div class="modal-content">
         <h4 id="notesTitle"></h4>
        <ul class="note-container"></ul>
    </div>
    
    <div class="modal-footer">
        <form name="noteForm" id="noteForm">
            <input required placeholder="Enter a note here" type="text" name="noteText" id="noteText">
            <button class="btn green left save" type="submit" id="noteButton">
                Post Note!
            </button>
            <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">Close</a>
        </form>
    </div>

</div>




	<footer class="page-footer #1565c0 blue darken-3">

	  <div class="footer-copyright">
	    <div class="container">
    		Company Ratings <a href='https://www.glassdoor.com/index.htm'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a>

	    </div>
	  </div>
	</footer>




<script src="../../assets/javascript/saved.js"></script>

