<header>
  <div class="navbar-fixed">
    <nav class="#3f51b5 indigo">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Job Ink</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/"><i class="material-icons">home</i></a></li>
          <li><a href="/settings"><i class="material-icons">settings</i></a></li>
          <li class="active"><a href="/saved">Saved Jobs</a></li>
          <li><a href="/logout"><i class="material-icons">power_settings_new</i></a></li>
        </ul>
      </div>
    </nav>
  </div>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/"><i class="material-icons">home</i></a></li>
          <li><a href="/settings"><i class="material-icons">settings</i></a></li>
          <li><a href="/saved">Saved Jobs</a></li>
          <li><a href="/logout"><i class="material-icons">power_settings_new</i></a></li>
        </ul>
    </nav>
</header>

 <!-- BackToTop Button -->
<a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>


    <div class="row center">
    <h3 class="header center blue-text">Your Saved Jobs</h3>
    </div>



<div class="container job-container">
<!--Job container-->
</div>

<!-- Note modal -->
<div id="noteModal" class="modal">

    <div class="modal-content">
         <h4 id="notesTitle"></h4>
        <ul class="note-container"></ul>
    </div>
    
    <div class="modal-footer">
        <form name="noteForm" id="noteForm">
            <input required placeholder="Enter your notes here" type="text" name="noteText" id="noteText">
            <button class="btn green left save waves-effect waves-light" type="submit" id="noteButton">
                Save Note 
               <i class="material-icons right">library_add</i>
            </button>
            <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">Close</a>
        </form>
    </div>

</div>




	<footer class="page-footer #3f51b5 indigo">

	  <div class="footer-copyright">
	    <div class="container">
    		Company Ratings <a href='https://www.glassdoor.com/index.htm'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a>

	    </div>
	  </div>
	</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>


<script src="../../assets/javascript/saved.js"></script>

