body{
	
	font-family: 'Palanquin', sans-serif;
}


img.logo {
    width: 15%;
    height: auto;
  
}
img.navLogo {
    max-height: 80px!important;
    padding: 10px 0!important;
    margin-left: 11%;
    margin-top: 0px;
}

.companyText{
	color: #3f51b5;

}

.locationText{
	color: #3f51b5;
	
}

.commuteTime{
    color: #4db6ac;
}

.savejob{
	margin-left: 0px;
}
.spacer{ margin-top: 20px;

}

#bloc_cont{

}

#addbuttonbloc, #deletebuttonbloc
{
    display:inline;
}

#jobinkheader{
	font-family: 'Fredericka the Great', cursive;
	font-size: 300%;
	color:#003366;
	

}

img.shrunkLogo {
    width: 85px;
    height: auto;
    display:inline;
    display: none;
   

}

h4.smallHeader {
	display:inline;
	font-family: 'Fredericka the Great', cursive;
	color:#003366;
	font-size: 290%;
	display: none;
}

.appliedBox{
float: right;
margin-top: 15px;
}

.headerBox{
float: left;
}

.panel-body{
	clear: both;
}

.hover:hover {
    background-color: #bbdefb;
}
/*Scroll Css*/

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#90caf9;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

