body{
	
	font-family: 'Palanquin', sans-serif;
}

img.logo {
    width: 20%;
    height: auto;

}

.companyText{
	color: blue;

}

.locationText{
	color: green;
	
}

.savejob{
	margin-left: 0px;
}
.spacer{ margin-top: 20px;

}

#bloc_cont{

}

#addbuttonbloc, #deletebuttonbloc
{
    display:inline;
}

#jobinkheader{
	font-family: 'Fredericka the Great', cursive;
	font-size: 500%;
	color:#003366;
}