body{
	
	font-family: 'Palanquin', sans-serif;
}

img.logo {
    width: 15%;
    height: auto;
  


}

.companyText{
	color: blue;

}

.locationText{
	color: green;
	
}

.savejob{
	margin-left: 0px;
}
.spacer{ margin-top: 20px;

}

#bloc_cont{

}

#addbuttonbloc, #deletebuttonbloc
{
    display:inline;
}

#jobinkheader{
	font-family: 'Fredericka the Great', cursive;
	font-size: 300%;
	color:#003366;
	

}

img.shrunkLogo {
    width: 85px;
    height: auto;
    display:inline;
    display: none;

}

h4.smallHeader{
	display:inline;
	font-family: 'Fredericka the Great', cursive;
	color:#003366;
	font-size: 290%;
	display: none;
}